*{
    padding: auto;
    width: auto;
}
#body{
    background-image: url(img/pexels-alscre-2847648\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 180px;
    align-items: center;

}
#bodyc{
    background-image: url(img/pexels-alscre-2847648.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 300px;
    align-items: center;

}
.login{
    font-size: 3rem;
    font-family: monospace;
    color: blueviolet;
    cursor:default;
}
h1{
    font-size: 2rem;
    font-family: monospace;
    color: blueviolet;
    cursor:default;
}
p{
    font-size: large;
    font-family: monospace;
    color: blueviolet;
}
.pgn, .menuc{
    align-items: center;
    width: 150px;
    padding: 60px;
    margin-top: 5px;
    margin-left: 500px;
    justify-content: center;
}
button{
    align-items: center;
    color: antiquewhite;
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    width: 270px;
    padding: 6px;
    margin-top: 15px;
}
button:hover{
    color: darkgray;
    background-color: antiquewhite;
    transition: .4s;
    cursor: pointer;
}
input{
    width: 250px;
    padding: 10px;
    background-color: antiquewhite;
    justify-content: center;
    border: none;
    border-radius: 5px;

}
a{
    color: rgb(130, 30, 170);
    font-family: monospace;
    text-decoration: none;
    width: 150px;
    padding: 5px;
}